.element {
  display: inline-block;
}

.row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 500px;
  margin: 50px  auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.value {
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
}

#calc {
  display: flex;
  margin: 40px auto;
}